.container_text {
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  padding: 0px 0px 0px 20px;
  margin: 0px 0px 10px 10px;
}

.container_close-button {
  width: 18px;
  margin: 0px;
  padding: 10px 0px 0px 0px;
  color: white;
  filter: invert(100%) sepia(1000%) saturate(0%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.hidden-container {
  background-color: #2fc18c;
  width: 200px;
  position: fixed;
  border-radius: 6px 0 0 6px;
  z-index: 999;
  left: auto;
  bottom: 30px;
  right: -160px;
}

#container_pop-up {
  padding: 10px;
  background-color: #2fc18c;
  width: 200px;
  position: fixed;
  z-index: 999;
  left: auto;
  right: 0;
  bottom: 30px;
  border-radius: 6px 0 0 6px;
}